<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container  body-content">
<h1>Add User</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Account Name</label>
        <input class="form-control" th:field="${account.id}" />
        <span th:errors="${account.accountName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Account Password</label>
        <input class="form-control" th:field="${account.password}" />
        <span th:errors="${account.password}" class="error"></span>
    </div>

    <p>Image Upload Form</p>

    <div class="form-group">
        <label th:for="file" class="label" enctype="multipart/form-data">Select image:</label>
        <input type="file" name="file" id="profile-image" accept="image/png, image/jpeg" required/>


        <label th:for="fileName">Image Name:</label>
        <input type="text" id="fileName" name="fileName" required>


    </div>>


    <input type="submit" value="Add Account" />
</form>

</body>
</html>