<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Account: ' + account.accountName}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="account-listing">
    <p th:text="${'Name: ' + account.accountName}"></p>
    <p> Jobs:
    <ul>
        <li th:each="account : ${accounts}">
            <a th:href="@{'/view/' + ${account.id}}" th:text="${account.accountName}"></a>
        </li>
    </ul>
    </p>
</div>


</body>
</html>