<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title th:text="'Account' + ${title == null ? '' : ' :: ' + title}">ImageDB</title>
  <style>
    body {
      padding-top: 40px;
    }
  </style>

</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a th:href="@{/}" class="navbar-brand">Image Database</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Accounts <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/accounts/add}">Add Account</a></li>
            <li><a th:href="@{/accounts/index}">Account Overview</a></li>
            <li><a th:href="@{/accounts/view}">Manage Account</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <h2>Account Details</h2>
  <form>
    <div class="form-group">
      <label for="exampleInput">Example Input</label>
      <input type="text" class="form-control" id="exampleInput" placeholder="Enter something">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>