<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Accounts: ' + account.accountName}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="account-listing">
  <p> ID:
    <a th:href="@{/view/{accountId}(accountId=${account.id})}" th:text="${account.id}"></a>
  </p>
  <p> Name:
    <a th:href="@{/view/{accountId}(accountId=${account.id})}" th:text="${account.accountName}"></a>
  </p>
  <p> Image:
    <img th:src="@{data:image/png;base64,${account.accountImage.getImageDataBase64()}}" alt="Account Image"/>
    <img th:src="@{'data:image/*;base64,'+${account.accountImage.getImageDataBase64()}}" alt="images from database" width="50%" height="50%"/>
  </p>
</div>

</body>
</html>