<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Accounts: ' + account.accountName}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="account-listing">
  <p> ID:
    <<a th:href="@{/view/{accountId}(accountId=${account.id})}" th:text="${account.accountName}"></a>
  </p>
  <p th:text="${'Name: ' + account.accountName}"></p>
</div>

</body>
</html>